*~
*.olean
/_target
/leanpkg.path
/private
/private/*
M1F/problem_bank/solns*
M1F/problem_bank/exsht*
M1F/problem_bank/*/*.log
M1F/problem_bank/*/*.aux
/scratch/*
*.aux
*.log
*.nav
*.out
*.snm
*.toc
*.vrb
